/*div here is section of different paras*/
div{
    background-color: aqua;
    height: 150px;
    width: 500px;

    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;

    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 25px ;
}

h1{
    border: 5px double green;
}

button{
    border-left: 5px dotted green;
    border-right: 5px double red;
    border-top: 10px solid purple;
    border-bottom: 10px solid green;
    border-top-right-radius: 50px;
    margin: 10px 20px 30px;
}